.signUpContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--background-color);
  }
  
  .signUpForm {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--elements-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .regText {
    text-align: center;
    margin-bottom: 15px;
    color: var(--text-color);
  }
  
  .formGroup {
    margin-bottom: 10px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: var(--text-color);
    border: 1px solid var(--background-color);
    border-radius: 5px;
    background-color: var(--background-color);
  }

  .input:focus {
    outline: 2px solid var(--buttons-color);
  }
  
  .myBtn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--buttons-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;
  }
  
  .myBtn:hover {
    background-color: var(--buttons-hover-color);
  }

  .myBtn:active {
    transform: scale(0.98);
  }
  
  .error {
    color: #ff3333;
    font-size: 12px;
    margin-top: 5px;
  }

  .popup {
    margin-top: 5px;
    color: green;
    font-size: 12px;
  }