.calc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 37.5rem;
  margin-top: 2rem;
}

.currencyBlock {
  text-align: center;
  position: relative;
}

.exchangeBtn {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0;
  transition: background-color 0.15s ease-in-out;
}

.exchangeBtn:hover {
  background-color: var(--buttons-hover-color);
}

.currencySelectLeft, .currencySelectRight {
  position: relative;
  min-width: 30%;
  height: 3.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 0;
  background-color: var(--buttons-color);
  border-radius: 0.5rem;
  color: var(--text-color);
  font-family: "SF Pro Display Regular";
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
}

.currencySelectLeft {
  left: 1.125rem
}

.currencySelectRight {
  left: 0.125rem;
}


.info {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.currencySelectLeft:hover, .currencySelectRight:hover {
  background-color: var(--buttons-hover-color);
}

.currencySelectLeft:focus, .currencySelectRight:focus {
  color: var(--text-color);
}

.option {
  color: var(--text-color);
  font-family: "SF Pro Display Regular";
}

.currencyInput {
  position: relative;
  max-width: 50%;
  padding-left: 0.5rem;
  font-size: 1rem;
  border: 0;
  height: 3.25rem;
  border-radius: 0.7rem;
  background-color: var(--text-color);
  font-family: "SF Pro Display Regular";
}

.currencyInput:focus,
.currencySelectLeft:focus,
.currencySelectRight:focus,
.currencyResult:focus {
  outline: none;
}

.currencyResult {
  right: 0.925rem;
  position: relative;
  border-radius: 0.7rem;
  max-width: 50%;
  padding-left: 0.5rem;
  font-size: 16px;
  color: #555;
  background-color: var(--text-color);
  cursor: not-allowed;
  border: 0;
  height: 3.25rem;
  font-family: "SF Pro Display Regular";
}

.createRequestButton {
  position: relative;
  width: 65%;
  text-align: center;
  right: 0.65rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background-color: var(--buttons-color);
  color: var(--text-color);
  font-family: "SF Pro Display Regular";
  border: none;
  transition: background-color 0.3s ease-in-out;
  background-image: url("../../assets/icons/ok.svg");
  background-repeat: no-repeat;
  background-size: 26px;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
}

.createRequestButton:focus {
  outline: none;
}

.createRequestButton:hover {
  background-color: var(--buttons-hover-color);
}

.createRequestButton:active {
  scale: 0.97;
}

@media screen and (max-width: 768px) {
  .calc {
    flex-direction: column;
    max-width: 23.625rem;
  }

  .currencyBlock {
    width: 16rem;;
    margin: 0.325rem 0;
  }

  .currencySelectLeft, .currencySelectRight {
    left: 0.625rem;
  }

  .currencyInput, .currencyResult {
    right: 0.625rem;
  }

  .createRequestButton {
    width: 1rem;
    right: 0;
  }

}
