  .CurrencyCalculator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
  }
  
  .CurrencyBlock {
    flex: 1;
    margin: 10px;
  }
  
  .CurrencySelect {
    width: 30%;
    height: 3.375rem;
    padding: 8px;
    font-size: 16px;
    border: 0px;
    background-color: var(--buttons-color);
    border-radius: 0.5rem;
  }
  
  .CurrencyInput {
    position: relative;
    width: 50%;
    padding-left: 8px;
    font-size: 16px;
    border: 0px;
    height: 3.25rem;
    border-radius: 0.5rem;
  }

  .CurrencyInput:focus, .CurrencySelect:focus, .CurrencyResult:focus {
    outline: none;
  }
  
  .CurrencyResult {
    position: relative;
    border-radius: 0.5rem;
    width: 50%;
    padding-left: 8px;
    font-size: 16px;
    color: #555;
    background-color: #eee;
    cursor: not-allowed;
    border: 0px;
    height: 3.25rem;
  }