
.requestRow {
    border: 1px solid #ddd;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    min-width: 37.9375rem;
  }

  
  .info {
    font-size: 16px;
    margin: 0rem 1.25rem;
    font-weight: bold;
    color: var(--background-color);
  }

@media screen and (max-width: 768px) {
    .requestRow {
      min-width: 100%;
      padding: 4px;
      text-align: center;
    }
    .info {
      margin: 3px;
    }
}
  