.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 4.5rem;
  margin-bottom: 2.3rem;
}

.leftSide {
  display: flex;
  align-items: center;
}

.leftSide a {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease;
  margin-left: 1rem;
}

.leftSide a:hover {
  color: var(--accent-color);
}

.leftSide a:active {
  color: var(--active-color);
}

.logo {
  cursor: pointer;
  width: 3.1rem;
  height: auto;
  filter: invert(100%);
}

.rightSide {
  display: flex;
  margin-right: 1rem;
}

.rightSide a {
  margin-left: 1rem;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.rightSide a:hover {
  color: var(--accent-color);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.rightSide a:active {
  color: var(--active-color);
}

.popup {
  position: absolute;
  top: 4.5rem;
  left: 12.5rem;
  transform: translate(-50%, -50%);
  background-color: var(--text-color);
  color: var(--background-color);
  border-radius: 0.75rem;
  padding: 0.2rem 0.6rem;
  box-shadow: 0 0 0.65rem rgba(0, 0, 0, 0.1);
}
