.requestsHistory {
  margin-top: 1.25rem;
}

.header {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  margin: 0rem 1.25rem;
}

.label {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
}
