.mainCon {
  max-width: 34rem;
  padding: 0rem;
}

.header {
  font-size: 24px;
  margin-bottom: 0.625rem;
  text-align: center;
  color: var(--text-color);
  margin-top: 2rem;
}

.table {
  width: 100%;
  margin: 0.625rem 0rem;
  border-radius: 1.25rem;
  font-family: "SF Pro Display Light";
  overflow: hidden;
  background-color: var(--text-color);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
}

.tableHeader,
.tableFields {
  padding: 0.625rem;
  text-align: center;
  width: 6.25rem;
  color: var(--background-color);
}

.flag {
  width: 25px;
  height: 15px;
  object-fit: cover;
  border-radius: 0.1875rem;
  position: relative;
  top: 0.125rem;
  margin-right: 0.1875rem;
  box-shadow: 0 0 0.325rem rgba(0, 0, 0, 0.3);
}

.tableHeader {
  background-color: #868888;
  font-family: "SF Pro Display Bold";
  color: var(--background-color);
}

@media screen and (max-width: 768px) {
  .table {
    width: 95%;
    margin-left: 0;
  }
  .header {
    margin-top: 1.5rem;
  }

  .table {
    margin-left: auto;
    margin-right: auto;
    max-width: 23.625rem;
  }
}
